body {
  background: #2A6F97;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
} 
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

header {
  color: #fff;
  text-align: center;
}

header h1 {
  font-size: 2em;
  padding: 16px;
  text-transform: uppercase;
  color: #fff;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  padding: 32px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
  
}



footer {
  padding: 16px 0;
  color: #fff;
  text-align:center;
  font-style: italic;
}


#formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

#formulario input {
  
  padding: 16px 32px;
  font-size: 0.875em;
  border-radius: 5px;
  outline: none;
  text-align: center;;
}



#formulario label {
  margin: 16px auto;
  font-size: 1.225em;
  text-transform: uppercase;
  font-weight: bold;
  color: #2A6F97;
}

#botao {
  margin: 16px auto 0 auto;
  display: block;
  background-color: #468FAF;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

#botao:hover {
  background-color: #2C7DA0;

}



#tabuada option {
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid #000;
}

#tabuada {
  margin: 32px auto;
  
}
#tabuada select {
  width: 250px;
  padding: 32px;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  border-radius: 5px;
}

@media (max-width: 739px) {
  header h1{
    font-size: 1.5em;
  section {
    max-width: 300px;
  }
  #tabuada select {
    height: 100%;
    width: 300px;
  }
}